<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLA Agent Dashboard</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1>SLA Agent Dashboard</h1>
        <div class="status-indicator">
            <span class="indicator"></span>
            <p>Status: <span id="status-text">Running</span></p>
        </div>

        
        <div id="charts-container"></div>
    </div>

    
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>
